.row.row-cols-1.row-cols-md-3.g-4 {
    margin-top: 5rem;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: 1px 1px 15px 1px #9e9e9e61;
    
}